<%- include("partials/header.ejs") %>
<section class="scroll-fade-in" style="background-color: #fcf8f0;">
    <div class="px-4 text-center figtree-blogFont pt-5">
        <h1 class="display-2 pt-5" style="font-weight:600;">My Articles</h1>
        <p class="h5 pt-2 grey-color pb-3" style="letter-spacing: 1px;">Get the latest updates and best experience from MYBlog.</p>
        <div class="pt-3 image-container container mb-3" >
          <img src="/images/img1.jpg" class="img-fluid" style="cursor: default;" alt="">
        </div>
        <div class="col-lg-11 sm-12 mx-auto">
          <p class="h3 pt-3" style="text-align: left; font-weight: 600;"><a class="h3 pt-3" href="#" style="text-decoration: none;text-align: left; font-weight: 600;">How to Find Sustainable Speciality Coffee Shops and Roasters</a></p>
          <p class="h5 pb-5" style="color: rgb(113, 113, 113); text-align: left;"> <%= month + " " + Date + ", " + year %> </p>
        </div>
      </div>
</section>
<section class="blogs" style="min-height: 50vh; padding: 20px;">
  <div class="container border-top border-bottom">
  <%  if (locals.blogCreated && locals.blogTitle && locals.blogContent) {  %>
    <div class="mt-4">
      <h2><%= blogTitle %></h2>
      <p><%= blogContent %></p>
    </div>
  <%  } %>
  </div>
</section>
<%- include("partials/footer.ejs") %>